@model AlbumApplication.Models.ViewModels.PersonViewModel

<div class="page-content-card p-10">
    @using (Html.BeginForm("Edit", "Person", FormMethod.Post))
    {
        <div class="form-row mt-5">
            <div class="col-md-12 form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                <label for="Name" class="col.form-label">Name</label>
                <div class="invalid-feedback" style="display: inline">
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

        </div>

        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn bg-deep-purple text-white btn-block">Save</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/assets/Binit/chosen/chosen.css" rel="stylesheet" />
    <script src="~/assets/Binit/chosen/chosen.jquery.min.js"></script>

    <script>
          $("#TipoSeleccionado").chosen({
    no_results_text: "Oops, nothing found!",
    width: "95%"
  });
    </script>
}